.App {
  text-align: center;
}

h1,
h2,
p {
  font-family: 'Raleway', sans-serif;
}

textarea {
  margin-bottom: 10px;
}

.tile {
  font-size: 1.2em;
  font-weight: bolder;
}

.tile-title {
  font-size: 1.5em;

}

.main-title {
  text-align: center;
  font-size: 4em !important;
  letter-spacing: 0.05em;
}


.tile {
  margin-bottom: 4px;
  /* text-overflow: ellipsis !important;
  white-space: nowrap !important;
  overflow: hidden !important; */
}

/* .p-tile {
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  overflow: hidden !important;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}